.singleTodo {
    background-color: yellowgreen;
    width: 100%;
    font-size: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-weight: 500;
}

.icons {
    cursor: pointer;
    border-radius: 30px;
    gap: 4;
}

.icons:hover {
    box-shadow: 0 0 10px black;
    outline: none;
}

.done {
    text-decoration: line-through;
}