.input {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
}

.inputBox {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 30px;
  border: none;
}

.inputBox:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.inputSubmit {
  position: absolute;
  right: 0;
  border-radius: 50px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: rgb(95, 95, 239);
  border: none;
  color: white;
  cursor: pointer;
}

.inputSubmit:hover {
    box-shadow: 0 0 10px black;
}
