@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(95, 95, 239);
    font-family: 'Neucha', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0;
    z-index: 1;
    text-align: center;
}